# Your twitch username (used to connect to correct channel)
TWITCH_USERNAME=
TWITCH_APP_CLIENT_ID=
TWITCH_APP_CLIENT_SECRET=

# Twitch username and oauth token that NOALBS uses to post messages.
# Use this tool to get an oauth token: https://twitchapps.com/tmi/
TWITCH_BOT_USERNAME=
TWITCH_BOT_OAUTH=

# OBS connection details - note that websocket server must be enabled in OBS.
OBS_HOST=
OBS_PASSWORD=
OBS_PORT=4455

# OBS Scenes for different states of the IRL stream - change these to the names of your scenes in OBS you want to switch to.
OBS_SCENE_NORMAL=
OBS_SCENE_LOW_BITRATE=
OBS_SCENE_OFFLINE=

# The external-facing URL to get to your site.  I suggest using nip.io to use your IP address.
# You can get your external IP from a service like whatismyip.com - use what it lists for "IPv4"
# An example of a nip.io url if your public ip address is 123.123.123.123
# 123.123.123.123.nip.io
SITE_VIRTUAL_HOST=

# If you want to use HTTPS, provide the same host as above, and an email address that letsencrypt can use
SITE_LETSENCRYPT_HOST=
SITE_LETSENCRYPT_EMAIL=

# If using RealTimeIRL and you wish to record your GPS coordinates to a file, provide your RTIRL pull key.
# Data on coordinates and stream status is written to a text file as json lines in the irlcontrol
# container at /server/data/location_stream_stats.txt
# More about the service: https://rtirl.com/
RTIRL_PULL_KEY=

# If you use belabox cloud to relay your video, add the stats URL and ingest key
# here.
BELABOX_STATS_URL=
BELABOX_INGEST_KEY=

# This is the password set on the box itself, used to connect to the local websocket server if available.
BELABOX_PASSWORD=
