# Your twitch username (used to connect to correct channel)
TWITCH_USERNAME=

# Twitch username and oauth token that NOALBS uses to post messages.
# Use this tool to get an oauth token: https://twitchapps.com/tmi/
TWITCH_BOT_USERNAME=
TWITCH_BOT_OAUTH=

# OBS connection details - note that websocket server must be enabled in OBS.
OBS_HOST=
OBS_PASSWORD=
OBS_PORT=4455

# OBS Scenes for different states of the IRL stream - change these to the names of your scenes in OBS you want to switch to.
OBS_SCENE_NORMAL="IRL"
OBS_SCENE_LOW_BITRATE="IRL Low Bitrate"
OBS_SCENE_OFFLINE="IRL Offline"
