{
    "streamSources": [
        {
          "type": "belabox",
          "name": "bbox",
          "url": "${BELABOX_STATS_URL}",
          "key": "${BELABOX_INGEST_KEY}"
        }
    ],
    "chat": {
        "twitch": {
            "appClientId": "${TWITCH_APP_CLIENT_ID}",
            "appClientSecret": "${TWITCH_APP_CLIENT_SECRET}",
            "tokenFile": "twitch_token.json",
            "channel": "${TWITCH_USERNAME}"
        }
    },
    "rtirl": {
        "pullKey": "${RTIRL_PULL_KEY}"
    },
    "locationStreamStatsLogFile": "./location_stream_stats.txt"
}
