export const environment = {
  production: true,
  wsUrl: '', // If blank, assume the origin of where the app was loaded from.
  videoFeedbackSource: '',// FIXME: Should load this from the server.
  // rtirlPullKey: '',
  // twitchUsername: 'steglasaurous'
};
